<!--==================== FOOTER ====================-->
<footer class="footer section">
    <div class="footer__container container grid">
        <div class="footer__content grid">
            <div class="footer__data">
                <h3 class="footer__title">Travel</h3>
                <p class="footer__description">Travel | You choose the <br> destination,
                    we offer you the <br> experience.
                </p>
                <div>
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social">
                        <i class="ri-facebook-box-fill"></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank" class="footer__social">
                        <i class="ri-twitter-fill"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="footer__social">
                        <i class="ri-instagram-fill"></i>
                    </a>
                    <a href="https://www.youtube.com/" target="_blank" class="footer__social">
                        <i class="ri-youtube-fill"></i>
                    </a>
                </div>
            </div>

            <div class="footer__data">
                <h3 class="footer__subtitle">About</h3>
                <ul>
                    <li class="footer__item">
                        <a href="/pages/about.html" class="footer__link">About Us</a>
                    </li>
                    <li class="footer__item">
                        <a href="/pages/blog.html" class="footer__link">News & Blogs</a>
                    </li>
                </ul>
            </div>

            <div class="footer__data">
                <h3 class="footer__subtitle">Company</h3>
                <ul>
                    <li class="footer__item">
                        <a href="/pages/gallery.html" class="footer__link">Gallery</a>
                    </li>
                    <li class="footer__item">
                        <a href="/pages/contact.html" class="footer__link">Contact Us</a>
                    </li>
                </ul>
            </div>

            <div class="footer__data">
                <h3 class="footer__subtitle">Support</h3>
                <ul>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Email: ianbalijawa16@gmail.com</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">0756008970</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__rights">
            <p class="footer__copy">&#169; 2022 travel-uganda. All rigths reserved.</p>
        </div>
    </div>
</footer>