<!--==================== SUBSCRIBE ====================-->
                        <section class="subscribe section">
                            <div class="subscribe__bg">
                                <div class="subscribe__container container">
                                    <h2 class="section__title subscribe__title">Subscribe Our <br> Newsletter</h2>
                                    <p class="subscribe__description">Subscribe to our newsletter and get a
                                        special 30% discount.
                                    </p>
                        
                                    <form action="" class="subscribe__form">
                                        <input type="text" placeholder="Enter email" class="subscribe__input">
                        
                                        <button class="button">
                                            Subscribe
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </section>